{% extends 'base.html' %}

{% block content %}
<h1 align="center" style="color: white;">{% block title %} About GPS {% endblock %}</h1>

<p align="center" style="color: white;">GPS System is a system that from SDW</p>

<p align="center" style="color: white;">The GPS is an information system that gather the UIC alumni information from all over the world.</p>

<form method="post" align="center">
    <div class="form-group">
        <button type="submit" value="changepwd" name="changepwd" class="btn btn-primary">Change my password</button>
        <button type="submit" value="logout" name="logout" class="btn btn-primary">Logout</button>
    </div>
</form>
{% endblock %}



