{% extends 'base.html' %}

{% block content %}
    <h1 style="color: white;">{% block title %} View Knowledge Points {% endblock %}</h1>
    {% for post in posts %}
    <a href="{{url_for('knowledge.post', post_id=post['id'])}}">
        <h2 style="color: white;">{{ post['title'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <a href="{{ url_for('knowledge.edit', post_id=post['id']) }}">
        <span class="badge badge-warning">Edit</span>
    </a>
    <hr>
    {% endfor %}
{% endblock %}