{% extends 'base.html' %}

{% block content %}
<h1 style="color: white;">{% block title %} New Employment Experience {% endblock %}</h1>

<form method="post" style="color: white;">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" class="form-control"
               value="{{ request.form['title'] }}"/>
    </div>

    <div class="form-group">
        <label for="content">experience</label>
        <textarea name="content" placeholder="Add your experience"
            class="form-control">{{ request.form['content'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="company">Company name</label>
        <textarea name="company" placeholder="Company name"
            class="form-control">{{ request.form['company'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="job">position</label>
        <textarea name="job" placeholder="Your position"
            class="form-control">{{ request.form['job'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>
{% endblock %}