#h1{text-align:center;color:pink;}
#if{color:white;}
#p1{position:absolute;left:390px;top:100px;
width:400px;height:400px;}
#s1{color:yellow;}
#s2{color:yellow;}
#s3{color:yellow;}
#c{color:white;}
#here{color:white;}
#here{color:white;}
.H1{text-align:center;color:white;}
